<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- PAGE TITLE -->
        <title></title>
        <!-- GENERIC FAVICON -->
        <link
            rel="icon"
            type="image/jpg"
            href="https://karaspersonalprojectbucket.s3.us-east-2.amazonaws.com/favicon.ico"
        />
        <!-- BOOTSTRAP/FOUNDATION -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
            rel="stylesheet"
        />
        <!-- LINKED CSS PAGES -->
        <link rel="stylesheet" href="../static/css/style.css" />
    </head>
    <body>
        <!-- grid system & grid flex: https://getbootstrap.com/docs/4.1/layout/grid/ -->
        <!-- margin/spacing: https://getbootstrap.com/docs/5.0/utilities/spacing/ -->
        <div class="row justify-content-around no-gutters mt-5">
            <!--Form -->
            <div class="col-5">
                <form action="/formsubmission" method="POST">
                    <!-- TEXT INPUT -->
                    <div>
                        <label for="first_name">First Name: </label>
                        <input type="text" name="first_name" value="" />
                    </div>
                    <!-- TEXT INPUT -->
                    <div>
                        <label for="last_name">Last Name: </label>
                        <input type="text" name="last_name" value="" />
                    </div>
                    <!-- TEXT INPUT -->
                    <div>
                        <label for="email">Email: </label>
                        <input type="text" name="email" value="" />
                    </div>
                    <!-- BUTTON -->
                    <div>
                        <button class="btn btn-primary" type="submit">
                            Create
                        </button>
                    </div>
                </form>
            </div>
            <!-- Home Link -->
            <div class="col-3">
                <a href="/users">Home</a>
            </div>
        </div>
    </body>
</html>
