*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    height: 100vh;
    width: 100%;
}
.box {
    width: 10vh;
    height: 10vh;
    display: inline-block;
}
.red {
    background-color: red;
}
.black {
    background-color: black;
}
