:root{
    --thisColor:#ffffff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: var(--thisColor);
}
#playarea{
    text-align: center;
}

#playarea > div {
    border: 2px solid black;
}

textarea {
    width: 90vw;
    height: 20vh;
}