<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <div id="container">
            {% for y in range(0,height): %}

                {% if y % 2 == 0:}
                    <div class="row">
                    {% for x in range(0, width): %}
                        {% if x % 2 == 0: %}
                            <div class="column-red"></div>
                        {% endif %}
                        {% if x % 2 != 0: %}
                            <div class="column-black"></div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}

                {% if y % 2 != 0: %}
                    <div class="row">
                    {% for x in range(0, width): %} 
                        {% if x % 2 == 0: %}
                            <div class="column-black"></div>
                        {% endif %}
                        {% if x % 2 != 0: %}
                            <div class="column-red"></div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                
            {% endfor %}
    </div>
</body>
</html>